In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.head()

        Names  phoneNumbers  status                  result
0  ODqWtVyvms    6374692674       1              Interested
1  WJlOsligBn    3772541751       1         Call Back Later
2  EZsUpeIlyZ    4095809263       1  Junk Lead/Wrong Number
3  uJwpMSPMnE    8242648613       1          Not Interested
4  eIwCQkrUli    8198941367       1              Interested

In [3]:
data = df['result'].value_counts()

In [4]:
data

result
Not Interested            15
Call Back Later           12
DNP (Did Not Pick)        10
Junk Lead/Wrong Number     9
Interested                 4
Name: count, dtype: int64

In [5]:
rate = 2000

In [7]:
rate * data['Interested']

8000